<div *ngIf="companies">
    <div class="text-center">
        <div>
            <h1 class="display-4">Companies</h1>
        
        </div>
        <div style="padding-bottom: 30px;">
            <div style="padding-bottom: 20px;">
                <small>Is our list missing a company?</small>
            </div>
            <div>
                <a type="submit" class="btn btn-outline-success" >Add Company</a>
            </div>
        </div>
    </div>

    <table class="box-shadow" style="width: auto; margin: auto;">
        <tr>
            <th>Symbol</th>
            <th>Company</th>
        </tr>
        <tr *ngFor="let company of companies; let i = index;">
            <td>{{company.name}}</td>
            <td>{{company.symbol}}</td>
        </tr>
    </table>
</div>
