<div style="text-align:center">
    <h1>
      Welcome to Coin!
    </h1>
  </div>
  
  <div class="homepage">
    <p>
        If you are curious about the stock market and wish to get a sense of the buying and selling experience at no risk, you are at the right place.
    </p>
    <p>
        At Coin, you can check the current value of the share of any company that you want, buy shares with your virtual money, or
        sell them when they become more valuable.
        You can also see how much profit you get as you sell your stocks,
        or add fund to your account when it gets low or diminish. And much more...
    </p>
  </div>
  
  <div class="text-center">
    <p>Go ahead and register to discover all that!</p>
  </div>
  
  <div class="text-center" style="padding-top: 30px;">
    <a class="btn btn-outline-danger" href="user/createaccount" >Register</a>
  </div>
