/* You can add global styles to this file, and also import other style files */

.form-base {
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 25px;
    width: 35%;
    margin: auto;
}

.homepage {
    width: 50%;
    padding-top: 60px;
    margin: auto;
    text-align: justify;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  /* Provide sufficient contrast against white background */
  a {
    color: #0366d6;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }
  
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
    overflow: scroll;
  }
  
  body {
    /* Margin bottom by footer height */
    
    margin-bottom: 60px;
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    margin-top: 160px;
  }
  
  .pb-3 {
      text-align: center;
      margin: auto;
  }


table {
  width: 100%;
}

td, th {
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: #f0f5f5;
}

.field-validation-error {
  font-size: small;
  color: red;
}
.homepage {
  width: 50%;
  padding-top: 60px;
  margin: auto;
  text-align: justify;
}

.display-4 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.companies {
  width: 60%;
}

.search {
  width: 75%;
  margin: auto;
}

.fund {
  width: 40%;
  margin: auto;
}
.wrapped-div {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: #e5e5e5;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

@media only screen and (max-width: 481px) {
  main {
      
      margin: auto;
  }
  .searchie {
      padding-right: 0;
      width: 75%;
  }
  
  .homepage {
      width: 90%;
      margin: auto;
      padding-top: 50px;
  }
  .text-center {
      width: 100%;
      margin: auto;
  }
  body {
      width: 100%;
  }
  .display-4 {
      font-size: 40px;

  }
  table {
      width: 80%;
  }
  .box-shadow {
      width: 100%;
  }
  .search {
      width: 70%;
  }
  .fund {
    width: 100%;
  }
  .wrapped-div {
    width: 100%;
  }

}

@media only screen and (min-width: 482px) and (max-width: 820px) {

  main {
      width: 100%;
      margin: auto;

  }
  .form-base {
      width: 50%;
      margin: auto;
  }
  .homepage {
      width: 70%;
      margin: auto;
      padding-top: 50px;
  }
  .display-4 {
      font-size: 40px;
  }
  table {
      width: 100%;
  }

}

input.ng-invalid.ng-dirty {
    border-color: crimson !important;
    box-shadow: crimson !important;
}

div.form-group label:not(.text-danger){
    color: #545d6a;
    font-weight: 700;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: #fff;
    padding-left: 5px;
}


div.form-group input.invalid{
  border: 1px solid #dc3545; 
}
div.form-group label:first-child{
  text-transform: uppercase;
  font-size: 0.9rem;
}


div.form-group label{
    color: black;
    font-weight: bold;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: #dc3545;
	padding-left: 5px;
}

form {
    margin: 0px 16px;
}

div.side-header{
    border:3px solid black;
}

.form-border,input.form-border:focus{
    
    color: black;
    border-color: black;
    border-radius: 0px;
    border-width: 2px;
}

button[type=submit].btn{
    border-radius: 20px;
    background-color: seagreen;
    color: #fff;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 20px;
  }



.tab-header{
    text-align: center;
}

.tab-header h2.active {
    color: #fff;
    border-bottom: 4px solid #fff;
}

.tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #545d6a;
    border-bottom: 2px solid #545d6a;
}

.tab-header h2:focus {
    outline: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Georgia, 'Times New Roman', Times, serif; }


