<h1 class="display-4 text-center">Delete Account</h1>

<div class="wrapper">
    <div class="wrapped-div">
        <div class="row">
            <div class="col-md-10 offset-md-1" style="margin-top: 20px;">             
                <form [formGroup]="service.deleteAccountModel" autocomplete="off">
                    <div class="form-group">
                        <label>Enter your password</label>
                        <input class="form-control" formControlName="Password" type="password" #pw />
                        <span class="text-danger" *ngIf="service.deleteAccountModel.get('Password').touched && service.deleteAccountModel.get('Password').errors?.required"><small>Please enter your password.</small></span>
                    </div>
                    <div class="form-group">
                        <label>Please select a reason</label>
                        <select class="form-control" #reason>
                            <option><small>I dont have time for this.</small></option>
                            <option><small>I dont like Coin.</small></option>
                            <option><small>I lost interest in Stock Market.</small></option>
                            <option><small>I just wanted to see what it looks like</small></option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8 offset-md-2">
                            <button class="btn btn-block" type="submit" (click)="onDelete(pw.value, reason.value)" [disabled]="!service.deleteAccountModel.valid">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
