<div class="text-center">
    <h1 class="display-4">Update Password</h1>
</div>


<div class="wrapper">
    <div class="wrapped-div">
        <div class="row">
            <div style="margin-top: 20px;" class="col-md-10 offset-md-1">             
                <form [formGroup]="service.updatePasswordModel" autocomplete="off" (submit)="onUpdate()">
                    <div class="form-group required">
                        <label>Old Password</label>
                        <input class="form-control" formControlName="OldPassword" type="password" required/>
                        <span class="text-danger" *ngIf="service.updatePasswordModel.get('OldPassword').touched && service.updatePasswordModel.get('OldPassword').errors?.required"><small>Please enter your current password.</small></span>
                    </div>
                    <div formGroupName="NewPasswords">
                        <div class="form-group required">
                            <label>New Password</label>
                            <input class="form-control" type="password" formControlName="NewPassword" required />
                            <span class="text-danger" *ngIf="service.updatePasswordModel.get('NewPasswords.NewPassword').touched && service.updatePasswordModel.get('NewPasswords.NewPassword').errors?.required"><small>Please enter a new password.</small></span>
                            <span class="text-danger" *ngIf="service.updatePasswordModel.get('NewPasswords.NewPassword').touched && service.updatePasswordModel.get('NewPasswords.NewPassword').errors?.minlength"><small>Password must be at least 8 characters!</small></span>
                        </div>
                        <div class="form-group required">
                            <label >Confirm New Password</label>
                            <input class="form-control" type="password" formControlName="ConfirmNewPassword" required />
                            <span class="text-danger" *ngIf="service.updatePasswordModel.get('NewPasswords.ConfirmNewPassword').touched && service.updatePasswordModel.get('NewPasswords.ConfirmNewPassword').errors?.required"><small>Please confirm your new password.</small></span>
                        <span class="text-danger" *ngIf="service.updatePasswordModel.get('NewPasswords.ConfirmNewPassword').touched && service.updatePasswordModel.get('NewPasswords.ConfirmNewPassword').errors?.passwordMismatch"><small>Confirm password does not match!</small></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8 offset-md-2">
                          <button type="submit" class="btn btn-block" [disabled]="!service.updatePasswordModel.valid">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>