
<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group required">
        <label>Username</label>
        <input class="form-control" formControlName="UserName" required>
        <span class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required"><small>Username required!</small></span>
    </div>
    <div class="form-group required">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="Email" required>
        <span class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.required"><small>Email required!</small></span>
    </div>
    <div formGroupName="Passwords">
        <div class="form-group required">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="Password" required>
            <span class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required"><small>Password required!</small></span>
            <span class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength"><small>Password must be at least 8 characters!</small></span>
        </div>
        <div class="form-group required">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword" required>
            <span class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required"><small>Confirm password required!</small></span>
            <span class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch"><small>Confirm password does not match!</small></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Sign Up</button>
        </div>
    </div>
</form>

